body{
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
}


.primary-nav{
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 6px 50px;
}




.primary-nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    
}

.primary-nav ul li {
    margin: 12px;
}


.primary-nav ul li img{
    width: 80px;
}

.primary-nav ul li a{
    text-decoration: none;
    color: black;
}


.primary-nav ul li a:hover{
    border-bottom: 2px solid black;
}

.image-wrapper-nav img{
    width: 100%;
    
}


.image-wrapper-nav{
    position: relative;
    
    
}

.image-content{
    padding: 50px;
    background-color: white;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 9.5%;
    transform: translateY(-50%);
}

.image-content a{
    text-decoration: none;
    color: black;
    
}

.image-content a h1{
     font-family: 'Nunito Sans', sans-serif;

}


.image-content-link{
    width: 35%;
    

}

.image-content-link a{
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
    color: white;
    background-color: rgba(0,103,184,255);
}

.image-content-link a:hover{
    background-color: #1a6985;
}

.container{
    width: 95%;
    margin: 0 auto;
}


.ms-products{
    display: flex;
    margin: 120px 120px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
}

.card{
    width: 25%;
    margin: 12px;
    
}

.ms-products img{
    width: 100%;
}


.anchor-wrapper{
    text-decoration: none;
}


.anchor-wrapper img{
    text-decoration: none;
}

.anchor-wrapper h2{
    color: black;
}

.anchor-wrapper p{
    color: black;
}

.anchor-wrapper-link{
    text-decoration: none;
    color: #0067ba;
}


.anchor-wrapper-link:hover{
    border-bottom: 1px solid #0067ba;
 
}

.Outlook-IOS-Android{
    position: relative;
    padding: 135px 135px;
    
}
.Outlook-IOS-Android img{
    width: 100%;
    
}




.Outlook-IOS-Android-content{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 80%;
    
}


.Outlook-IOS-Android-content img{
    width: 100%;
    
}

.Outlook-IOS-Android-content a{
    text-decoration: none;
    color: black;
}


.Outlook-IOS-Android-content-button a{
    color: white;
    background-color: rgba(0,103,184,255);
    
    
}



.business-heading{
    display: flex;
}

.business-heading h2{
    margin: 5px 135px;
}


.Business-products{
    display: flex;
    margin: 5px 120px;
}



.Business-products .card{
    width: 25%;
    margin: 12px;
    
}

.Business-products img{
    width: 100%;
}

